In [1]:
import pandas as pd

df = pd.read_csv("data/train.csv")
df.head(5)

       ID  Gender Ever_Married  Age Graduated  ... Work_Experience  Spending_Score Family_Size  Var_1 Segmentation
0  462809    Male           No   22        No  ...             1.0             Low         4.0  Cat_4            D
1  462643  Female          Yes   38       Yes  ...             NaN         Average         3.0  Cat_4            A
2  466315  Female          Yes   67       Yes  ...             1.0             Low         1.0  Cat_6            B
3  461735    Male          Yes   67       Yes  ...             0.0            High         2.0  Cat_6            B
4  462669  Female          Yes   40       Yes  ...             NaN            High         6.0  Cat_6            A

[5 rows x 11 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     7928 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        7990 non-null   object
 5   Profession       7944 non-null   object
 6   Work_Experience  7239 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            7992 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

In [6]:
df = df.dropna()
df = df.drop("ID", axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6665 entries, 0 to 8067
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           6665 non-null   object
 1   Ever_Married     6665 non-null   object
 2   Age              6665 non-null   int64
 3   Graduated        6665 non-null   object
 4   Profession       6665 non-null   object
 5   Work_Experience  6665 non-null   float64
 6   Spending_Score   6665 non-null   object
 7   Family_Size      6665 non-null   float64
 8   Var_1            6665 non-null   object
 9   Segmentation     6665 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 572.8+ KB

In [7]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

label_encoder = LabelEncoder()
for col in df.select_dtypes(include=['object']).columns:
    df[col] = label_encoder.fit_transform(df[col])

In [13]:
from sklearn.model_selection import train_test_split

X = df.drop("Segmentation", axis=1)
y = df["Segmentation"]
X_scaled = StandardScaler().fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [15]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

clf1 = DecisionTreeClassifier(max_depth=5, max_leaf_nodes=4, random_state=42)
clf2 = SVC(random_state=42)
clf3 = LogisticRegression(random_state=42)
model1 = clf1.fit(X_train, y_train)
model2 = clf2.fit(X_train, y_train)
model3 = clf3.fit(X_train, y_train)

In [16]:
from sklearn.metrics import accuracy_score

y_pred1 = model1.predict(X_test)
y_pred2 = model2.predict(X_test)
y_pred3 = model3.predict(X_test)
acc1 = accuracy_score(y_test, y_pred1)
acc2 = accuracy_score(y_test, y_pred2)
acc3 = accuracy_score(y_test, y_pred3)
print(acc1, acc2, acc3)

0.47336834208552137 0.5146286571642911 0.5093773443360841